<header>
    <div>
        <h1><a style="color: white;" href="/">BlueAnimates</a></h1>
        <div class="menu">
            <a id="Home" href="/">Home</a>
            <a id="FAQ" href="/faq/">FAQ</a>
            <a id="Portfolio" href="/portfolio/">Portfolio</a>
            <a id="Downloads" href="/downloads/">Downloads</a>
        </div>
    </div>
    <div style="text-align: right;">
        <div class="socials">
            <a href="https://discord.gg/fW3GPdqQ6k" target="_blank"><i class="fa-brands fa-discord"></i></a>
            <a href="https://twitter.com/blueanimates_" target="_blank"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.twitch.tv/blueanimates" target="_blank"><i class="fa-brands fa-twitch"></i></a>
            <a href="https://www.youtube.com/c/blueanimates" target="_blank"><i class="fa-brands fa-youtube"></i></a>
        </div>
    </div>
</header>